{
	local_certs
}

console.localhost {
	tls internal
	reverse_proxy app:3000
}

hs.localhost {
	tls internal
	reverse_proxy headscale:8080
}

*.apps.localhost {
	tls internal
	reverse_proxy proxy:80
}
